---
permalink: /404.html
layout: post
---

<style> 
  .home {
    width: 100px;
    height: 40px;
    font-size: 1.0rem;
    border: 1px solid black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /*'Open Sans', sans-serif; /* Font family for each predefined tags */
    box-shadow: 4px 4px black;
  }

  .home:hover,
  .home:focus {
    background-color: #333333;
    color: #fff;
  }

  .home:active {
    box-shadow: 0px 0px;
  }

  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /*'Open Sans', sans-serif; /* Font family for each predefined tags */
  }

</style>

<h1>404</h1>

<p><strong>Page not found :(</strong></p>
<p>The requested page could not be found.</p>

<button class="home" type=button onclick="window.location='/index.html'">Go Home</button>

