---
---

/******************************************************
 *             PREDEFINE TAGS CSS                     *
*******************************************************/

body {
    background-color: #FDFDFD;  /* Set the color to that of twitter bright mode */
}


input[type=text] {
    box-sizing : border-box;
    width: 100%;
    height: 40px;
    border: 0px;
    border-bottom: 1px solid #E6ECF0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /*'Open Sans', sans-serif; /* Font family for each predefined tags */
    font-size: 1.1rem;
    background-color: #F5F8FA;
    border-radius: 4px;
}

input[type="text"]:focus {
    border-color: #E6ECF0;
    box-shadow: 0 0 8px 0 rgb(11, 125, 201);
}


input[type=text]:hover {
    background-color: white;
}


input[type=text]:active,
input[type=text]:focus {
    background-color: white;
} 

a, p, ul, li, ol, table {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /*'Open Sans', sans-serif; /* Font family for each predefined tags */
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /*'Oswald', sans-serif; /* Font family for heading tags */
    color: #333333;
    font-weight: 600;
}
    

a, p, ul, li, ol, table {
    font-size: 1.0rem;  /* Let's set the font-size to something old-man friendly */
}

table {
    width: 100%;
    background-color:#F6F6F6;
    border-radius: 10px;
}

table th, td {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 1.0rem;
}

table th {
    color: #888888;
    font-weight: 600;
}

table td {
    color: #666666;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}


li, ul {
    padding-bottom: 0.6em; 
}

img {
    max-width: 100%;
    height: auto;
}

code {
    display: inline-block;
    overflow: auto !important;
    white-space: pre-line !important;       /* css-3 */
    word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

blockquote:before {
    display: none;
}

cite {
    padding-left: 50px;
}

blockquote p {
    padding: 10px;
    max-width: 500px;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-style: normal;
}


/******************************************************
 *               CUSTOM CLASS CSS                     *
*******************************************************/

/* To encapsulate the box */
.container {
    display: flex;             
    flex-direction: column;     
    justify-content: center;    
    align-items: center;       
    max-width: 1100px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* To encapsulate and manipulate the posts, menu, header, breadcrumbs, images, code, and quotes */
.box {
    width: 60%;
    position: absolute;
    top: 0px;
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
}

.subheader {
    padding-left: 10px;
    border-bottom: 1px solid #E6ECF0;
}

main {
    float: left;
    min-height: 300px;
    margin-left: 20px;
    padding-right: 10px;
}

.content a {
    text-decoration: none;
    color: #4183c4;
}

.content a:hover {
    text-decoration: underline;
    color: #4183c4;
}


.aboutme, .categories, .rss,  .notes  {
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #E6ECF0;
    vertical-align: middle;
    display: inline-block;
    justify-content: center;
}

.notes {
    padding-left: 12px;
    padding-right: 18px;
}

.rss {
    padding-left: 14px;
    padding-right: 24px;
}



.aboutme-p, .categories-p, .notes-p, .rss-p {
   margin-top: auto;
   margin-left: auto;
   text-align: center;
   font-weight: 600;
   color: #333333;
   font-size: 0.6rem; 
}



.hicon {
    margin-top: 6px;
    margin-left: 19%;
    justify-content: center;
}

.icon {
    background-color: white;
    fill: currentColor;
    color: #333333;
    cursor: pointer;
}

.icon,
.breadcrumb {
    vertical-align: middle;
    display: inline-block;
}

.breadcrumb {
    padding-left: 10px;
    text-decoration: none;
    color: #333333;
    cursor: pointer;
    font-weight: 600;
}


.site-heading a {
    padding-left: 10px;
    text-decoration: none;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.7rem;
}

.category-tag:hover {
    background-color: #FFFFFF;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
}

.tags li {
    float: left; 
}

.tag {
    text-decoration: none;
    color: #333333;
    display: inline-block;
    background: #E0E0E0;
    padding: 0 12px;
    border-radius: 32px;
    height: auto;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal !important;
}


 /* Ripple effect */
 .ripple {
    background-position: center;
    transition: background 0.5s;
  }
  
  .ripple:hover {
    background: #E6ECF0 radial-gradient(#E6ECF0, #E6ECF0, #E6ECF0);
  }
  .ripple:active {
    background-color: #E6ECF0;
    background-size: 90%;
    transition: background 0s;
  }
  


/* HOME PAGE, CATEGORY PAGE SPECIFIC CSS */

.post-separator {
    width: 100%;
    border-top: 1px solid #E6ECF0;
    border-bottom: 1px solid #E6ECF0;
    cursor: pointer;
}

.post-separator:hover {
    background-color: #F5F8FA;
}

.post-title {
    margin-left: 20px;
    margin-right: 20px;
    /*text-decoration: underline;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2rem;
    font-weight: 600;
    color: #333333;
}

.post-excerpt{
    margin-left: 20px !important;
    margin-right: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.0rem;
}

/* Kramdown Table of Contents Styling */
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
    text-decoration: underline;
}


#markdown-toc li {
    margin-left: 1rem;
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

#markdown-toc a {
    text-decoration: none;
}

#markdown-toc a:hover {
    text-decoration: underline;
}

.relatedposts {
    width: 100%;
    min-height: 100px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.relatedposts h4 {
    color: #888888;
}

#rp-wrapper {
    column-count: 2 !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.relatedposts h4 {
    padding-top: 20px;
    padding-left: 20px;
}

.rp-group {
    margin-left: 10px;
    width: 90% !important;
    height: 100%;
    background-color: #EEEEEE !important;
    border-radius: 10px;
    cursor: pointer;
}

.rp-excerpt:before {
    content: "\"";
}


.rp-excerpt:after {
    content: "\"";
}

.rp-excerpt {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 12px !important;
    color: #666666 !important;
}

.rp-title {
    
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px !important;
    font-weight: 600;
}

.rp-group a {
    text-decoration: none;
}



/*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/

.searchbar input[type="text"] {
  padding-left: 50px;
}
#results-container {
    display: none;
}

.searchbar {
  position: relative;
}

.searchbar i {
  position: absolute;
  vertical-align: middle;
  padding-left: 20px;
  color: #E6ECF0;
}

.searchbar.inputIconBg i {
  color: rgb(149, 148, 151);
  padding-left: 20px;
  padding-top: 11px;
  border-radius: 4px 0 0 4px;
}


/* DISQUS THREAD MARGIN OVERRIDE FOR LEGIBILITY, DO NOT TOUCH */
#disqus_thread {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 800px){
    .box {
        width: 80%;
    }
}
@media screen and (max-width: 500px){
    .box {
        width: 100%;
        border-left: none;
        border-right: none;
    }

}

