---
---

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link href="/assets/css/style.css" rel="stylesheet" /> 
    <link href="/assets/css/prism.css" rel="stylesheet" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>

<body>
    <div class="container">
        <div class = "box">
            <!-- Site Heading, Menu, and Breadcrumbs-->
            <header>
                <div class = "subheader disable-select">
                    <p class="site-heading"><a href="/index.html">Knowledge Continuum</a></p>
                </div>

                
                <div class="subheader disable-select">
                    {% if page.title != "About Me" %}
                    <div class="aboutme">
                        <a style="text-decoration: none;" href="/aboutme">
                            <svg class="hicon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 21.5V19.5C20 18.4391 19.5786 17.4217 18.8284 16.6716C18.0783 15.9214 17.0609 15.5 16 15.5H8C6.93913 15.5 5.92172 15.9214 5.17157 16.6716C4.42143 17.4217 4 18.4391 4 19.5V21.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 11.5C14.2091 11.5 16 9.70914 16 7.5C16 5.29086 14.2091 3.5 12 3.5C9.79086 3.5 8 5.29086 8 7.5C8 9.70914 9.79086 11.5 12 11.5Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        <p class="aboutme-p">About Me</p>
                        </a>
                    </div>
                    {% endif%}
                    {% if page.title != "By Category" %}
                    <div class="categories">
                        <a style="text-decoration: none;" href="/categories">
                            <svg class="hicon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 9.5H20" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4 15.5H20" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10 3.5L8 21.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16 3.5L14 21.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                               
                        <p class="categories-p">Categories</p>
                        </a>
                    </div>
                    {% endif%}
                    <div class="notes" title="External Link">
                        <a style="text-decoration: none;" href="https://notes.raghuveer.net">
                            <svg  class="hicon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 4.5H4C3.46957 4.5 2.96086 4.71071 2.58579 5.08579C2.21071 5.46086 2 5.96957 2 6.5V20.5C2 21.0304 2.21071 21.5391 2.58579 21.9142C2.96086 22.2893 3.46957 22.5 4 22.5H18C18.5304 22.5 19.0391 22.2893 19.4142 21.9142C19.7893 21.5391 20 21.0304 20 20.5V13.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.5 3C18.8978 2.60218 19.4374 2.37868 20 2.37868C20.5626 2.37868 21.1022 2.60218 21.5 3C21.8978 3.39782 22.1213 3.93739 22.1213 4.5C22.1213 5.06261 21.8978 5.60218 21.5 6L12 15.5L8 16.5L9 12.5L18.5 3Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                      
                        <p class="notes-p">Notes&nbsp;<i class="fa fa-external-link" style="font-size:8px; font-weight: 400;"></i></p>
                       </a>
                    </div>
                    <div class="rss">
                        <a style="text-decoration: none;" href="/feed.xml">
                            <svg class="hicon" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 11.5C6.38695 11.5 8.67613 12.4482 10.364 14.136C12.0518 15.8239 13 18.1131 13 20.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4 4.5C8.24346 4.5 12.3131 6.18571 15.3137 9.18629C18.3143 12.1869 20 16.2565 20 20.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5 20.5C5.55228 20.5 6 20.0523 6 19.5C6 18.9477 5.55228 18.5 5 18.5C4.44772 18.5 4 18.9477 4 19.5C4 20.0523 4.44772 20.5 5 20.5Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>    
                        <p class="rss-p">RSS</p>
                        </a>
                    </div>
                </div>
                


                <div class="searchbar search-container inputIconBg">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" oninput="changeResultContainerDisp(this.value)" id="search-input" autocomplete="off" placeholder="Search Knowledge Continuum..."/>
                    <ul id="results-container"></ul>
                </div>


                <script src="/assets/js/simple-jekyll-search.min.js"></script>
                <script>
                    function changeResultContainerDisp(val) {
                        if (val) {
                            document.getElementById("results-container").style.display = "block";
                            document.getElementById("search-input").addEventListener('blur', function() {
                                document.addEventListener('click', function(event) {
                                    var isClickInside = document.getElementById("results-container").contains(event.target);
                                    if (!isClickInside) {
                                        document.getElementById("results-container").style.display = "none";
                                    }
                                })
                            }) 
                        }  else {
                            document.getElementById("results-container").style.display = "none";
                        }
                    }
                
                    var sjs = SimpleJekyllSearch({
                                searchInput: document.getElementById('search-input'),
                                resultsContainer: document.getElementById('results-container'),
                                json: '/search.json',
                                searchResultTemplate: '<li style="list-style: none;"><a href="{{ site.url }}{url}" style="text-decoration: none; color: #333333;"><p style="font-size: 1.0rem; font-family: Helvetica; font-weight: 550;">{title}</p></a></li>',
                                noResultsText: 'No results found',
                                fuzzy: false,
                                limit: 4
                                })
                            
                </script>

                {% if page.layout != "home" %}
                <div class="subheader disable-select">
                    <div class="icon" onclick="goBack()">
                        <svg class="ripple" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/>
                        </svg>
                    </div>
                    <p class="breadcrumb">Back</p>    
                </div>
                {% endif %}

            </header>

            {% if page.layout == "home" %}
                {% for item in site.posts %}
                <a href="{{item.url}}" style="text-decoration: none; color: #333333;">
                    <div class="post-separator disable-select" >
                        <p class="post-title">{{ item.title }}</p>
                        <p class="post-excerpt">{{ item.content | strip_html | truncate: 200}}</p>
                    </div></a>
                {% endfor %}
            {% endif %}

            
            {% if page.layout != "home" %}
            <main>
                <h1>{{page.title}}</h1>
                <ul class="tags">
                    <li><a href="/dates/#{{ page.date | date: '%d-%B-%Y' }}" class="tag">{{ page.date | date: '%B-%d-%Y' }}</a></li>
                    <!-- Loop through page categories and print them in tags -->
                    {% for category in page.categories %}
                        <li class="category-tag"><a href="/categories/#{{ category }}" class="tag">{{ category }}</a></li>
                    {% endfor %}
                </ul>
                <div class="content">
                    {{content}}
                </div>

                {% if page.layout == "post" and page.title != "About Me" and  page.title != "By Category" and page.title != "By Date" and page.permalink != "/404.html" %}
                <div class="relatedposts">

                    <h4>Related Posts</h4>

                    <div id="rp-wrapper">
                    {% assign maxRelated = 8 %}
                    {% assign minCommonTags =  1 %}
                    {% assign maxRelatedCounter = 0 %}
                    
                    {% for post in site.posts %}

                        {% assign sameTagCount = 0 %}
                        {% assign commonTags = '' %}
                    
                        {% for category in post.categories %}
                          {% if post.url != page.url %}
                            {% if page.categories contains category %}
                              {% assign sameTagCount = sameTagCount | plus: 1 %}
                              {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                              {% assign commonTags = commonTags | append: tagmarkup %}
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    
                        {% if sameTagCount >= minCommonTags %}
                          <div class="rp-group"><a href="{{post.url}}">
                            <p class="rp-title">{{ post.title }}</p>
                            <p class="rp-excerpt">{{ post.content | markdownify | strip_html | truncate: 140 }}</p>
                          </a></div>
                          {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                          {% if maxRelatedCounter >= maxRelated %}
                            {% break %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      </div>

                      <br/>
                    </div>
                {% endif %}
            </main>
            {% endif %}

            <script>
                function goBack() {
                  window.location.assign("/index.html");
                }
            </script>

            
            {% if page.comments %}
            <!-- DISQUS COMMENT SECTION, DO NOT TOUCH -->
            <div id="disqus_thread"></div>
                <script>
                    /**
                     *RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    var disqus_config = function () {
                    this.page.url = '{{ page.url | absolute_url }}';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = '{{ page.url | absolute_url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://raghuveerdotnet.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            {% endif %}  
        </div>
        {% if jekyll.environment == 'production' %}
            {% include analytics.html %}
        {% endif %}
    </div>
    <script src="/assets/js/prism.js"></script>

    
</body>

</html>
